/.idea/
BlackOutV2.iml
/DataSet/s0010/
/DataSet/s0011/
/DataSet/s0012/
/DataSet/s0013/
/DataSet/s0014/
/DataSet/s0015/
/DataSet/s0016/
/DataSet/s0017/
/DataSet/s0018/
/DataSet/s0019/
/DataSet/s0020/
/DataSet/s0021/
/DataSet/s0022/
/DataSet/s0023/
/DataSet/s0024/
/DataSet/s0025/
/DataSet/s0026/
/DataSet/s0027/
/DataSet/s0028/
/DataSet/s0029/
/DataSet/s0030/
/DataSet/s0031/
/DataSet/s0032/
/DataSet/s0033/
/DataSet/s0034/
/DataSet/s0035/
/DataSet/s0036/
/DataSet/s0037/
/DataSet/s0003/
/DataSet/s0004/
/DataSet/s0005/
/DataSet/s0006/
/DataSet/s0007/
/DataSet/s0008/
/DataSet/s0009/
